<div class="container">
    <div>
        <div  style="background-image: url(img/contact-bk.jpg);">
            <div class="container my-5">
                <div class="row justify-content-between">
                    <div class="col-md-6 text-white">
                        <h2 class="font-weight-bold">Contáctanos</h2>
                        <p class="my-4">
                            Dejanos un mail, si tienes consultas o quieres sugerir algo, no dudes en escribirnos.
                        </p>
                        <ul class="list-unstyled">
                            <li>Email : upb.store@upb.edu</li>
                            <li>Teléfono : 60131343</li>
                            
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <form>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="name">Your Name</label>
                                    <input type="name" class="form-control" id="name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="Email">Your Email</label>
                                    <input type="email" class="form-control" id="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control" id="message" rows="3"></textarea>
                            </div>
                            <button type="submit" class="btn font-weight-bold my-3">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    

</div>
