.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.button-container{
    position: fixed;
    bottom: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 20px;
    background-color: #C71025;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  
}

.example-selected-value {
    color: #fff;
    margin: 15px 0;
    z-index: 1;
  }