a{
    text-decoration: none;
    color: rgb(211, 22, 22);
}
a:hover, a:active{
    color: rgb(5, 0, 46);
}
.nav-caption{
    display: inline-block;
    padding-left: 6px;
}
mat-list{
    margin-top: 70px;
    
}
i{
    color: brown;
}